.idea/
sql-scripts/
*.csv
tests.ipynb
*.jsonl
__pycache__/
pyrightconfig.json
img/
.ipynb_checkpoints/
*.pth
data/
curves/
backups/
test.ipynb
*.old
pyg_experiments/ds/
post_data/ds/
pyg_experiments/trained_models/
tiktok_pyg/ds/
tiktok_pyg/trained_models/
intiktok_pyg/ds/
intiktok_pyg/trained_models/
*.data
timing_imgs/
